<%- include('partials/header'); -%>

    <h1> About Us </h1>
    <p> I am <a href="/contact">Nikhil Kumar</a>, Currently pursuing B.Tech in Computer Science at IIT Dhanbad. I feel mental health is a very ignored topic in india and there should be more awareness about this. That's why I made this website to help those
        struggling with this issue in finding what's wrong with them and what are different ways to cope it. Please seek out professional help immediately, if you have symptoms of any of the disorders mentioned here.</p>

    <%- include('partials/footer'); -%>