<%- include('partials/header'); -%>

    <h1> About Us </h1>
    <p> I am <a href="/contact">Ruby</a>, pursuing an MCA at Savitribai Phule Pune University and am currently in my first year of this two-year course. I have completed my bachelor's in business administration with a specialisation in computer applications.
        After completing my bachelor's, I had a lot of time. I was debating which field I should pursue because I have two qualifications. One in business administration and one in computer applications, so to figure it out, I decided to opt for a part-time
        job. I worked at an academy where I was a business analyst and handled pretty much everything from sales to marketing to maintaining the website. I was really interested in this mental health space, so I thought I should create something. It will
        help me brush up on my coding skills as well. And that's how this website came into existence. </p>

    <%- include('partials/footer'); -%>