<%- include('partials/header'); -%>

    <h1 class="title-color"> Welcome! </h1>
    <p> Our goal is to let people understand what mental health is, what the symptoms are, what triggers it, and how we can recover from it. All of our blogs are backed by psychologists.</p>

    <div>
        <img src="/images/img0.png" class="center" alt="...">
    </div>

    <hr class="line">

    <div>
        <h2 class="title-color">Mental Health Basics: Types of Mental Illness, Diagnosis, Treatment, and More</h2>
        <h3>What is mental health?</h3>
        <p>
            Mental health refers to your emotional and psychological well-being. Having good mental health helps you lead a relatively happy and healthy life. It helps you demonstrate resilience and the ability to cope in the face of life’s adversities. Your mental
            health can be influenced by a variety of factors, including life events or even your genetics.
        </p>
        <h3>What is mental illness?</h3>
        <p>
            A mental illness is a broad term which encompasses a wide variety of conditions which affect the way you feel and think. It can also affect your ability to get through day-to-day life. Mental illnesses can be influenced by several different factors.
        </p>
        <h3>
            Mental health statistics
        </h3>
        <p>
            Mental health issues are common in the United States. About one in five American adults experience at least one mental illness each year. And around one in five young people ages 13 to 18 experience a mental illness at some point in their lives, too.
            Although mental illnesses are common, they vary in severity. About one in 25 adults experience a serious mental illness (SMI) each year. A SMI can significantly reduce your ability to carry out daily life. Different groups of people experience
            SMIs at different rates. According to the National Institute of Mental HealthTrusted Source, women are more likely to experience SMI than men. Those ages 18 to 25 are most likely to experience an SMI. People with a mixed-race background are
            also more likely to experience an SMI than people of other ethnicities.
        </p>
        <h3>
            Mental health disorders
        </h3>
        <p>
            The Diagnostic and Statistical Manual of Mental Disorders, Fifth Edition (DSM-5) helps mental health professionals diagnose mental illnesses. There are many types of mental health disorders. In fact, almost 300 different conditions are listed in DSM-5.
            These are some of the most common mental illnesses:
        </p>
        <a href="https://www.mayoclinic.org/diseases-conditions/bipolar-disorder/symptoms-causes/syc-20355955#:~:text=Overview,or%20pleasure%20in%20most%20activities.">
            <h3>○ Bipolar disorder</h3>
        </a>
        <p>
            Bipolar disorder is a chronic mental illness that affects about 2.6 percent of Americans each year. It is characterized by episodes of energetic, manic highs and extreme, sometimes depressive lows. These can affect a person’s energy level and ability
            to think reasonably. Mood swings caused by bipolar disorder are much more severe than the small ups and downs most people experience on a daily basis.
        </p>
        <a href="https://www.mayoclinic.org/diseases-conditions/persistent-depressive-disorder/symptoms-causes/syc-20350929">
            <h3>○ Persistent depressive disorder</h3>
        </a>
        <p>Persistent depressive disorder is a chronic type of depression. It is also known as dysthymia. While dysthymic depression isn’t intense, it can interfere with daily life. People with this condition experience symptoms for at least two years.</p>
        <a href="https://www.mayoclinic.org/diseases-conditions/generalized-anxiety-disorder/symptoms-causes/syc-20360803">
            <h3>○ Generalized anxiety disorder</h3>
        </a>
        <p>
            Generalized anxiety disorder (GAD) goes beyond regular everyday anxiety, like being nervous before a presentation. It causes a person to become extremely worried about many things, even when there’s little or no reason to worry. Those with GAD may feel
            very nervous about getting through the day. They may think things won’t ever work in their favor. Sometimes worrying can keep people with GAD from accomplishing everyday tasks and chores.
        </p>
        <a href="https://www.mayoclinic.org/diseases-conditions/obsessive-compulsive-disorder/symptoms-causes/syc-20354432#:~:text=Obsessive%2Dcompulsive%20disorder%20(OCD)%20features%20a%20pattern%20of%20unwanted,activities%20and%20cause%20significant%20distress.">
            <h3>
                ○ Obsessive-compulsive disorder
            </h3>
        </a>
        <p>
            Obsessive-compulsive disorder (OCD) causes constant and repetitive thoughts, or obsessions. These thoughts happen with unnecessary and unreasonable desires to carry out certain behaviors, or compulsions. Many people with OCD realize that their thoughts
            and actions are unreasonable, yet they cannot stop them.
        </p>
        <h2>Coping with mental illnesses</h2>
        <p>
            The symptoms of many mental illnesses may get worse if they’re left untreated. Reach out for psychological help if you or someone you know may have a mental illness. If you’re unsure where to start, visit your primary care doctor. They can help with the
            initial diagnosis and provide a referral to a psychiatrist. It’s important to know that you can still have a full and happy life with a mental illness. Working with a therapist and other members of your mental health team will help you learn
            healthy ways to manage your condition.
            <a href="https://uhs.umich.edu/tenthings">
                Read more...
            </a>
        </p>
    </div>


    <%- include('partials/footer'); -%>