<%- include('partials/header'); -%>

<div>
<h1> Post Confessions Anonymously </h1>

<form action="/compose" method="post">
  <div>
    <p>It's better to let go rather than hold it in. </p>
  </div>
  <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="postTitle">
      <label>Post</label>
      <textarea class="form-control" name="postBody" rows="5"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button"> Publish </button>
</form>
</div>


<%- include('partials/footer'); -%>