<%- include('partials/header'); -%>
    <h1 class="title-color"> 5 Best Stress Relieving Games: Games That Reduce Stress and Anxiety </h1>
    <div align="center">
        <h2>1. Candy Crush Saga</h2>
        <img src="/images/img1.webp" alt="..." class="img-style">
        <p class="games-text">
            Candy Crush is a popular stress-relieving game whose aim is to match jewel-like ‘candies’ by sliding them. The game is quite popular, and you can find people of all ages playing it either on the train, plane, bus, or even the office. The background sounds
            can also help relieve stress, especially when you manage to get a good score. What’s more, with the complex design of the game, it can also pass as a brain training app. However, Candy Crush can be quite addictive, and when you start you will
            just want to keep going and going. So, self-control is key.
        </p>

        <h2>2. Flow Free</h2>
        <img src="/images/img2.webp" alt="..." class="img-style">
        <p class="games-text">
            After a tough day, Flow Free can help to calm you down. All you have to do is connect two matching colors with a pipe. It’s really soothing and has a nice sound to back you up. To solve the puzzle, you have to cover the entire board with pipes. However,
            there's a catch. The pipes should not overlap, and you can't leave a box untouched.
        </p>

        <h2>3. Pigment</h2>
        <img src="/images/img3.webp" alt="..." class="img-style">
        <p class="games-text">
            Do you love painting? Studies show that immersing yourself in art can help you unwind after a stressful day. How about you do it virtually? Pigment is an adult coloring app that allows you to color images with an assortment of hues. The game brings out
            your creativity, and you can have fun with any colors you want. Plus, you can change the shade of each color using the slider.
        </p>

        <h2>4. Plants vs. Zombies</h2>
        <img src="/images/img4.webp" alt="..." class="img-style">
        <p class="games-text">
            Plants vs. Zombies has over 4m reviews on Google Play, showing how immensely popular it is. A zombie attack is imminent, and you have to be ready with your arsenal of zombie-zapping plants to defeat them all. The game is not just all about fun. The developers
            have thrown in some healthy doses of the amazing ways to protect your brain by feeding on powerful plants. As the zombie universe is never-ending, you have to think fast and plant faster to combat them before they break into your house.
        </p>

        <h2>5. Monument Valley</h2>
        <img src="/images/img5.webp" alt="..." class="img-style">
        <p class="games-text">
            If you love optical illusions and weird-looking objects, you will enjoy playing Monument Valley. This indie puzzle game requires you to lead princess Ida through various mazes in some of the most impossible architectures. The intention is to discover
            hidden paths, unfold optical illusions, and outsmart the mysterious Crow people.
        </p>

    </div>


    <%- include('partials/footer'); -%>